.header {  
     display:flex;
     justify-content: space-between;
}

.header-left{
    display:flex;
    justify-content: space-between;
}

.header-left1{
    margin-left: 10px;
    margin-top: 10px;
}

.header-left1 img {
    height: 40px;   
}
.star{
    margin-left: 20px;
    width: 20px;
    font-size: 1.1rem;
    margin-top: 2px;
}

.header-left2{
    display: flex;   
    flex-direction: column;
    font-weight: lighter; 
    font-family: Google Sans,Roboto,sans-serif;
    margin-top: 10px;   
}

.header-left2-up{
    display:flex;
    flex-direction: row; 
    margin-left: 10px; 
    font-size: 20px; 
}

.header-left2-down {
    display:flex;
    flex-direction: row;
}

.header-left2-down p {
   margin: 4px;
   padding: 2px 7px;
   overflow: hidden;
}

.header-left2-down p:hover{  
    border-radius: 2px;
    box-shadow: none;
    color: #202124;
    cursor: pointer;
    background-color: rgb(223, 229, 229);
    font-family: Google Sans,Roboto,sans-serif;
}

.header-right{
    display: flex;
    flex-direction: row;
    justify-items: first baseline;
    align-items: center;
    margin-right: 10px;
    font-size: 1.6rem;
    color: rgb(64, 63, 63);
}
.comment {
    margin-right: 20px;
    padding: 8px 8px 3px 8px;
}

.comment:hover{
    border-radius: 50%;
    background-color: rgb(223, 229, 229);
    color: rgb(64, 63, 63);
}

.cam-dropdown{
    margin-right: 20px;  
    display: flex; 
    padding: 8px 8px 3px 8px;
}

.cam-dropdown:hover {
    border-radius: 100px;
    background-color: rgb(223, 229, 229);
    color: rgb(64, 63, 63);
}

.lock-share {
    margin-right: 20px;
    display: flex;
    font-size: 15px;
    border-radius: 30px;
    background-color: #c2e7ff;
    padding: 9px 20px;
    color: black;
    font-family: Google Sans,Roboto,sans-serif;
    align-items: center;
}

.lock{
    padding-right: 10px;
    font-size: 1.1rem;
}

.lock-share:hover {
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Google Sans,Roboto,sans-serif;
    background: #c2e7ff;
    color: #001d35;
    background: #b2d7ef;
    box-shadow: 0 1px 2px rgba(0,0,0,.3), 0 1px 3px 1px rgba(0,0,0,.15);
}

.usericon {
    margin-right: 20px;
}

.usericon img{
    width: 34px;
}

